.title {
    text-align: center;
}

.box {
    display:inline-block;
width: 10%; 
text-align: center;
}

.heading {
    font-weight: bold;
    font-size: 1.0em;
color:white;
background-color:black;
}

